<!DOCTYPE html>
<html>
<head>
    <title>Financial Log Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Financial Log Analysis Tool</h1>
    <p>We will soon extent to take in .log/.txt/.zip files as input. But for now, please copy paste log text in space provided.</p>
    <form method="post" action="/analyze">
        <textarea name="log" placeholder="Enter log text. For example - Swap leg must have a swap parent..." rows="6" cols="60">{{ log or "" }}</textarea><br><br>
        <button type="submit">Analyze</button>
    </form>

    {% if analysis %}
        <h3>Analysis:</h3>
        <p>{{ analysis }}</p>
        <h3>Fix:</h3>
        <p>{{ fix }}</p>
    {% endif %}
</body>
</html>
